// globals
@import 'public/css/mixins.scss';
@import 'public/css/colors.scss';
// pages
@import 'public/css/root.scss';
@import 'public/css/session.scss';
// partials
@import 'public/css/_header.scss';
@import 'public/css/_controls.scss';

.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
}