<%= partial(:'header') %>
<div id="password_forgot">
  <div class="col-sm-push-4 col-sm-4">

    <% id_prefix = defined?(id_prefix) ? "#{id_prefix}_" : '' %>
    <div class="control-password-forgot">
      <form action="javascript:void(0);" accept-charset="UTF-8" autocomplete="on" role="form">
        <h4>Forgot your password?</h4>

        <%= partial(:flash) %>

        <div class="form-group">
          <label for="<%== id_prefix %>username">Email Address</label>
          <input id="<%== id_prefix %>username" name="username" type="email" placeholder="your@email.com" class="form-control"
             data-parsley-required
             data-parsley-required-message="Please enter your email address."
          />
        </div>

        <button type="submit" class="btn btn-primary">Reset Password</button>
        <span class="submit-nav">
          <a class="login" href="/login">Login</a> or <a class="sign-up" href="/signup">Sign Up</a>
        </span>
      </form>
    </div>
    <script>
      (function() {
        var element = App.scriptPrev();
        var control = new App.PasswordForgotPartial(element);
        App.mixins.autofocus(element);
      })();
    </script>

  </div>
</div>