<% id_prefix = defined?(id_prefix) ? "#{id_prefix}_" : '' %>
<%= partial(:'header') %>
<div id="password_change">
  <div class="col-sm-push-4 col-sm-4">

    <div class="control-password-reset">
      <form action="javascript:void(0);" accept-charset="UTF-8" autocomplete="on" role="form">
        <h4>Set a new password</h4>

        <%= partial(:flash) %>

        <%= partial(:passwords_form_group, :locals => { :id_prefix => id_prefix }) %>

        <button type="submit" class="btn btn-primary">Save Password</button>
      </form>
    </div>
    <script>
      new App.PasswordChangePartial(App.scriptPrev())
    </script>

  </div>
</div>